* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root{
    --text-primary:#1a2024;
}



a {
  text-decoration: none;
}
li {
  list-style: none;
}

/** 
*? header css
*/

/* navbar */
nav {
  width: 100%;
  padding:15px 35px ;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.nav-icon {
  width: 20px;
}
.arrow-down{
    transform: rotate(90deg);
}
nav .left-child {
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo img {
  width: 90px;
}

.nav-list ul {
  display: flex;
  align-items: center;
  gap: 30px;
  color: var(--text-primary);
}
.nav-list ul li a{
  color: var(--text-primary);
  font-size: 1.2rem;
}

nav .right-child {
  display: flex;
  align-items: center;
  gap: 20px;
}
.right-child-icons{
    display: flex;
    align-items: center;
    gap: 20px;
}
.search-bar {
    width: 300px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f4f5f7;
  padding: 10px;
  border-radius: 50px;
}

.search-bar input {
  border: none;
  background-color: transparent;
  outline: none;
}
