* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-primary: #1a2024;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

/** 
*? header css
*/

/* navbar */
nav {
  width: 100%;
  padding: 15px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-icon {
  width: 20px;
}
.arrow-down {
  transform: rotate(90deg);
}
nav .left-child {
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo img {
  width: 90px;
}

.nav-list ul {
  display: flex;
  align-items: center;
  gap: 30px;
  color: var(--text-primary);
}
.nav-list ul li a {
  color: var(--text-primary);
  font-size: 1.2rem;
}

nav .right-child {
  display: flex;
  align-items: center;
  gap: 20px;
}
.right-child-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}
.login-modal {
  width: 210px;
  height: 80px;
  background-color: white;
  box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.524);
  position: absolute;
  top: 68px;
  right: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  visibility: hidden; 
}
 
.login-modal .login-modal-heading {
  display: flex;
  justify-content: space-between;
}
.login-modal .login-modal-heading p {
  font-weight: bold;
}
.login-modal .login-modal-heading button {
  background-color: transparent;
  border: none;
}
.open-login-modal {
  width: 100%;
  margin-top: 10px;
  padding: 5px 0;
  font-size: 1.1rem;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.search-bar {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f4f5f7;
  padding: 10px;
  border-radius: 50px;
}

.search-bar input {
  border: none;
  background-color: transparent;
  outline: none;
}
.right-child-icons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/**
*? hero section css

 */

.hero-section {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.hero-section .slide {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
}
.slide .slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* slider button css */

.slide-btn-container {
  position: absolute;
  top: 45%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.slide-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #1a2024;
  color: white;
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
*? main section css */

.categories-section {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.category-heading {
  font-size: 1.6rem;
}

.category-heading .category-sub-heading {
  font-weight: 600;
}

.categories-container {
  width: 100%;
  display: flex;
  gap: 30px;
}

.category-item {
  width: 100px;
  text-align: center;
}
.category-item-img {
  width: 90px;
}
.category-item-title {
  font-weight: 600;
  color: black;
}

/* products css */

.products-container {
  width: 100%;
  padding: 10px 40px;
}
.product-card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.product-card-sp {
  width: 305px;
  height: 410px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fafafa;
}

.card-img-container {
  position: relative;
  width: 100%;
  height: 300px;
}

.card-img-container img {
  width: 100%;
  height: 100%;
}

.card-label-1 {
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 16px;
  font-size: 0.8rem;
}

.card-label-2 {
  position: absolute;
  width: 100%;
  bottom: -15px;
}
.card-label-2-child {
  width: 200px;
  background-color: #fcc50b;
  color: black;

  font-size: 0.8rem;
  border-radius: 10px;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 600;
  padding: 5px;
}

.product-details {
  width: 100%;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-title {
  display: flex;
  justify-content: space-between;
}
.card-title a {
  color: black;
  font-weight: 600;
}
.produt-color {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: black;
}

.product-price-details {
  display: flex;
  justify-content: space-between;
}

.original-price {
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
}

.price-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price-details {
  display: flex;
  gap: 10px;
  align-items: center;
}
.delete-price {
  color: rgb(176, 176, 176);
  font-size: 0.8rem;
}

.offer-pr {
  color: #28b985;
  font-size: 0.9rem;
  font-weight: 600;
}

.ratings {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rating-star,
.rating-reviews {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
.rating-reviews {
  border-left: 1px solid rgb(206, 206, 206);
}
.add-to-cart-btn {
  padding: 12px 14px;
  background-color: #1a2024;
  color: white;
  border: none;
  border-radius: 10px;
}

/**
*? product section css
 */

.product-tag-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.product-tag-container h3 {
  font-size: 1.8rem;
  font-weight: 100;
}
.product-tag-container a {
  color: rgb(81, 81, 240);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
}

.tabs-sections {
  width: 100%;
  padding: 20px 0px;
}

.tab-btn {
  padding: 8px 20px;
  border-radius: 20px;
  margin-right: 10px;
  border: none;
  font-size: 0.9rem;
  color: rgb(174, 174, 174);
  background-color: transparent;
  cursor: pointer;
}

.tab-btn.active {
  font-weight: bold;
  color: black;
  background-color: rgb(226, 226, 226);
}
